__pycache__/
*.pyc
*.pyo

db_visualizer.py
historical_data_getter.py
bdl_hist_boxscores.py

data/team_logos/
data/cache
data/sounds
*.db
*.db-shm
*.db-wal
*.db.zst
*.csv
!data/data_2025-26.db

player_clustering/

test.py

*.env
*.venv/

secrets.toml